<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% if title %}
    <title>{{title}}</title>
    {% endif %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css')}}">
    <!-- <link rel="stylesheet" type="text/css" href="https://unpkg.com/bulma-prefers-dark" /> -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css')}}">
</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="#">СУПР</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
            {% if session.get('is_logged_in') %}

                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('products') }}">Продукты</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('incomes') }}">Приходы</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('expenses') }}">Расходы</a>
                </li>
            {% endif %}

            </ul>
            {% if session.get('is_logged_in') %}
            <ul class="nav nav-pills">
                <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">{{ name }}</a>
                <div class="dropdown-menu dropdown-menu-right">
                    <a class="dropdown-item" href="#">Прибыль: {{ profit }} руб.</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item exit" href="#">Выйти</a>
                  </div>
                  </li>

            </ul>
            {% endif %}
        </div>
    </nav>
    {% block content %}{% endblock %}
    <script src="{{ url_for('static', filename='js/jquery-3.4.1.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
    <script>
        document.querySelector('.exit').addEventListener('click', async function() {
            let response = await fetch('/api/logout', { method: 'POST' })
            let data = await response.json()
            location.href = 'login'
        })
    </script>
</body>

</html>