<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% if title %}
    <title>{{title}}</title>
    {% endif %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css')}}">
    <!-- <link rel="stylesheet" type="text/css" href="https://unpkg.com/bulma-prefers-dark" /> -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css')}}">
</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="#">СУПР</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
            {% if session.get('is_logged_in') %}

                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('products') }}">Продукты</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('incomes') }}">Приходы</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('expenses') }}">Расходы</a>
                </li>
            {% endif %}

            </ul>
            {% if not session.get('is_logged_in') %}
            <form class="form-inline my-2 my-lg-0">
                <a href="/login"><button class="btn btn-outline-success my-2 my-sm-0" type="button">Войти</button></a>
            </form>
            {% endif %}
            {% if session.get('is_logged_in') %}
            <span>Прибыль: {{ profit }} руб.</span>
            {% endif %}
        </div>
    </nav>
    {% block content %}{% endblock %}
    <script src="{{ url_for('static', filename='js/jquery-3.4.1.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/index.js') }}"></script>
</body>

</html>